<html layout:decorate="~{layout/layout}">
<div layout:fragment="content">

    <form th:action="@{/books}" method="get" class="flex w-full gap-2">
        <input type="text" name="q" th:value="${keyword}" class="p-2 border rounded flex-1" placeholder="도서 검색...">
        <button type="submit" class="bg-blue-500 text-white px-5 py-2 rounded w-1/6 flex justify-center items-center">검색</button>
    </form>


    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        <div th:each="book : ${books}" class="bg-white p-4 rounded shadow">
            <img th:src="${book.image}" alt="표지" class="h-48 object-contain mx-auto mb-2">
            <h3 class="mt-2 font-bold text-center" th:text="${book.title}">도서 제목</h3>
            <p class="text-sm text-gray-600 text-center" th:text="${book.subtitle}">부제</p>
            <p class="text-center text-blue-800 font-semibold" th:text="${book.price}">가격</p>
            <a th:href="@{'/books/isbn/' + ${book.isbn13}}"
               class="block mt-2 text-center text-blue-600 hover:underline">
                상세보기
            </a>
        </div>
    </div>
</div>
</html>
